# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [19]:
import random, string

country = ""

for x in range(10):
    country.join(random.choice(string.ascii_letters))
    
    
country

''

In [23]:
data = {}
data['人口'] = list(np.random.rand(4))
data['國家'] = ['tw', 'usa', 'jp', 'ch']
data_df = pd.DataFrame(data)
data_df

         人口   國家
0  0.157295   tw
1  0.669713  usa
2  0.585118   jp
3  0.307286   ch

In [37]:
data_df[data_df['人口']==data_df['人口'].max()]['國家']

1    usa
Name: 國家, dtype: object